h1 {
    color: forestgreen;
    text-align: center;
}

body {
    color: black;
    background-color: cornflowerblue;



.content {
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 40%;
    margin-left: 10%;
    background-color:grey;
}

